---
layout: default
title: Domovská stránka
---

{% if page.url == "/" %}

<!-- Domovská stránka
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Domovská stránka</span></h2>
    </div>
    <div class="row">
        
      Zeptala jsem se několika hráčů na pár otázek, které se týkají jejich osobních zájmů okolo fotbalu:<br>
            
         1. Jaký znáš fotbalový vtip?<br>

         2. Co děláš mimo hrací sezónu? (Jak vyplňuješ čas, když tam jindy míváš zápasy?)<br>

         3. Jak se připravuješ na sezónu ve svůj prospěch?<br>

         4. Jaká/é je tvá oblíbená tréninkový aktivita?<br>
        <br>
     
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Utkání</span></h2>
    </div>
    <div class="row listrecent">
        
        Při rozkliknutí daného odkazu se dostanete na stránku, kde se vám <b>ukáží tabulky aktuálního umístění</b> (celkově, doma, venku).<br>
        <link rel="Výsledky umístění" href="https://souteze.fotbal.cz/turnaje/table/fbbea413-2d7c-41fb-820d-17f1245c96a1"><br>
        
        Při rozkliknutí daného odkazu se dostanete na stejnou stránku, ale zde se vám ukáží <b>tabulky všech zápasů</b>, které buď už proběhly, nebo ještě proběhnou. U proběhlých zápasů máte zapsán i výsledek zápasu.<br>
        <link rel="Umístění" href="https://souteze.fotbal.cz/turnaje/zapas/fbbea413-2d7c-41fb-820d-17f1245c96a1"><br>
        <br>
        
        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

