---
layout: default
title: Domovská stránka
---

{% if page.url == "/" %}

<!-- Domovská stránka
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Domovská stránka</span></h2>
    </div>
    <div class="row">
        
<html>
<body>

<h1>Příprava na sozónu | TJ SOKOL VELKÉ PŘÍLEPY</h1>

<video width="320" height="240" controls>
  <source src="https://youtu.be/p4FceBrmLWI" type="https://youtu.be/p4FceBrmLWI">
  Your browser does not support the video tag.
</video>

</body>
</html>
        
      Zeptala jsem se několika hráčů na pár otázek, které se týkají jejich osobních zájmů okolo fotbalu:<br>
            
         1. Jaký znáš fotbalový vtip?<br>

         2. Co děláš mimo hrací sezónu? (Jak vyplňuješ čas, když tam jindy míváš zápasy?)<br>

         3. Jak se připravuješ na sezónu ve svůj prospěch?<br>

         4. Jaká/é je tvá oblíbená tréninkový aktivita?<br>
        <br>
     
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Utkání</span></h2>
    </div>
    <div class="row listrecent">
        
        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

